@{
  Layout = "_Layout";
}

<div class="container">

  <h1>Find The Best Cuisines and Restaurants!</h1>
  <h3><a href='/cuisines'>Choose Cuisines</a></h3>
  <h3><a href='/cuisines/new'>Add a new cuisine</a></h3>
</div>
